:root {
  --bg-img: url('https://taittsuu.com/image/sozai/taitsu_back.png');
  --bg-color: white;
  --bg: var(--bg-img) var(--bg-color);
  --fg: black;
  --fg-hover: rgba(0, 0, 0, 0.9);
  --sub-fg: rgba(0,0,0, 0.7);

  --container-bg: rgba(var(--primary-color-red), var(--primary-color-blue), var(--primary-color-green), 0.25);
  --container-fg: var(--fg);

  --border-color: rgba(var(--primary-color-red), var(--primary-color-blue), var(--primary-color-green), 1);

  --item-bg: black;
  --item-fg: white;

  --button-like-on: #f92672;
  --button-rt-on: #00db80;
  --button-off: var(--item-bg);

  --verify-badge-bg: #1d86ff;
  --verify-badge-fg: white;
}

.container-right, .profile-wrap, #posts, .tp-container, .post-header-wrap, #taiitsuDialogInner {
  backdrop-filter: blur(1rem);
}


body {
  background-color: rgba(var(--primary-color-red), var(--primary-color-blue), var(--primary-color-green), 0.25);
}