:root {
  --bg-img: url('https://taittsuu.com/image/sozai/taitsu_back.png');
  --bg-color: #23282e;
  --bg: var(--bg-img) var(--bg-color);
  --fg: white;
  --fg-hover: rgba(255, 255, 255, 0.8);
  --sub-fg: rgba(255, 255, 255, 0.8);

  --container-bg: rgba(35, 40, 46, 0.8);
  --container-fg: var(--fg);

  --border-color: rgba(255, 255, 255, 0.5);

  --item-bg: white;
  --item-fg: #23282e;

  --button-like-on: #f92672;
  --button-rt-on: #00db80;
  --button-off: var(--item-bg);

  --verify-badge-bg: #1d86ff;
  --verify-badge-fg: white;
}