:root {
  --bg-img: url('https://taittsuu.com/image/sozai/taitsu_back.png');
  --bg-color: #444;
  --bg: var(--bg-img) var(--bg-color);
  --fg: white;
  --fg-hover: rgba(255, 255, 255, 0.9);
  --sub-fg: rgba(255, 255, 255, 0.8);

  --container-bg: rgba(68, 68, 68, 0.8);
  --container-fg: var(--fg);

  --border-color: #ccc;

  --item-bg: white;
  --item-fg: #444;

  --button-like-on: #f92672;
  --button-rt-on: #00db80;
  --button-off: var(--item-bg);

  --verify-badge-bg: #1d86ff;
  --verify-badge-fg: white;
}