

body {
  background: var(--bg);
  color: var(--fg) !important;
}

a, .label-text, .post-time {
  color: var(--fg) !important;
}

a:hover {
  color: var(--fg-hover) !important;
}

button {
  background: var(--fg);
  color: var(--bg-color);
}

*:disabled {
  filter: brightness(70%);
}

button, select {
  cursor: pointer;
}

button:disabled, select:disabled {
  cursor: not-allowed;
}

input[type="color" i] {
  width: 2rem;
  height: 2rem;
  inline-size: 2rem;
  block-size: 2rem;
  padding: 0px;
}

.profilePanel, .post-header-wrap, .container-right, .profile-wrap, .bottom-menus, #taiitsuDialog, #taiitsuDialogInner, #posts, #followUsers, .tp-container {
  background: var(--container-bg);
  color: var(--container-fg);
}

.profile-wrap, #posts, #followUsers, #notices, .container-right, .tp-container, textarea, select, #taiitsuDialogInner {
  border-radius: 4px;
  border: solid 1px var(--border-color);
  overflow: hidden;
}

textarea, select {
  overflow: auto !important;
}

.tp-flex-col {
  display: flex;
  flex-direction: column;
}

.tp-container {
  padding: 1rem;
}

.tp-container .tp-container {
  padding: 0.5rem;
  background: none;
  backdrop-filter: none;
}

.faq-answer, .top-catch {
  color: var(--fg) !important;
}

.container:has(.post-header-menu) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header-menu {
  display: flex;
}

.header-title {
  color: var(--container-fg) !important;
}

#profilePanel {
  background: none;
}

.profile-infos, .profile-started {
  color: var(--sub-fg);
}

.post-rt-source {
  background: var(--sub-fg);
  color: var(--item-fg);
}

.container-right a {
  color: var(--container-fg);
}

.btn-primary, select {
  background: var(--item-bg) !important;
  color: var(--item-fg) !important;
}

.post-like-button.post-button {
  color: var(--button-like-on) !important;
}

.post-like-button.post-button-off {
  color: var(--button-off) !important;
}

button:hover.post-like-button.post-button * {
  color: var(--button-off) !important;
}

button:hover.post-like-button.post-button-off * {
  color: var(--button-like-on) !important;
}

.post-rt-button.post-button {
  color: var(--button-rt-on) !important;
}

.post-rt-button.post-button-off {
  color: var(--button-off) !important;
}

button:hover.post-rt-button.post-button * {
  color: var(--button-off) !important;
}

button:hover.post-rt-button.post-button-off * {
  color: var(--button-rt-on) !important;
}

button.post-button-off {
  color: var(--button-off) !important;
}

.post-wrap, .notice-wrap {
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-radius: 0px;
  border: none;
  gap: 0.5rem;
}

#posts > .post-wrap, #notices > .notice-wrap {
  border-bottom: solid 1px var(--border-color);
}

#posts > .post-wrap:last-child, #notices > .notice-wrap {
  border-bottom: none;
}

.post-wrap > .posts-main {
  padding: 0px;
}

.post-wrap > .post-link-user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.post-main {
  padding: 0px;
  width: 100%;
}

.post-image {
  position: initial;
}

.post-user-badge, .profile-user-badge {
  color: var(--verify-badge-bg);
  background: var(--verify-badge-fg);
  border-radius: 100rem;
  display: inline-flex;
}

.post-user-badge > i, .profile-user-badge > i {
  transform: scale(1.1);
}

#taittsuu-plus-theme-list {
  width: 5rem;
}

.gsc-control-cse, .gsc-control-cse-ja {
  padding: 0px;
}

.gstl_50, .gssb_c {
  color: black;
}

.profile-content {
  white-space: pre-line;
}

*[hidden] {
  display: none;
}