code {
  background-color: antiquewhite;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin: 0.125rem;
}

img {
  width: 100%;
  height: 18rem;
  object-fit: contain;
}

li {
  margin: 0.25rem;
}

@media (max-width: 46rem) {
  table {
    width: 100%;
  }
}

@media (min-width: 46rem) {
  table {
    min-width: 16rem;
  }

  body {
    margin: 0 auto;
    width: 75vw;
  }
}

table {
  border: solid 1px lightgrey;
  border-radius: 0.25rem;
  border-spacing: 0px;
  overflow: hidden;
}

td, th {
  padding: 0.3rem;
  border-bottom: solid 1px lightgrey;
}

th {
  background-color: aliceblue;
}

tr > td:nth-child(2n), tr > th:nth-child(2n) {
  border-left: solid 1px lightgrey;
}

tbody > tr:last-child > td {
  border-bottom: none;
}
